<div class="animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Leads Breakdown
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div>
        <input type="text" name="searchString" placeholder="Search" [(ngModel)]="searchString">
      </div>
      <table sortable-table (sorted)="onSorted($event)" class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Avatar</th>
            <th sortable-column="lastName">
              Applicant
            </th>
            <th sortable-column="calcDate">
              <i class="far fa-calendar-alt"></i>
            </th>
            <th sortable-column="completion">Completion</th>
            <th sortable-column="temperature">Temperature</th>
            <th sortable-column="activity">Activity?</th>
          </tr>
        </thead>
        <tbody>
          <!--TODO: This will be an ngfor-->
          <!--Demo Applicant 1-->
          <tr *ngFor="let lead of dataSource | filter : ['firstName', 'lastName'] : searchString : []; let i = index">
            <td class="text-center">
              <i class="icon-user"></i>
            </td>
            <td colspan="2">
              <div>{{lead.firstName}} {{lead.lastName}}</div>
              <div class="small text-muted">
                Registered: {{lead.dateString}}
              </div>
            </td>
            <td>something</td>
            <td>{{lead.temperature}}</td>
            <td>idunno</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div class="card">
      <div class="card-header">
        Lead Breakdowns
        <div class="card-columns cols-2">
          <div class="card">
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [data]="barChartData" [labels]="barChartLabels" [chartType]="barChartType"
                  [colors]="barChartBGColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
          <div>
            <div class="card text-white text-center bg-info">
              <div>
                <button type="button" class="btn btn-transparent p-0 float-right">
                  <i class="icon-location-pin"></i>
                </button>
                <div class="text-value">1000</div>
                <div>Enrolled Student Goal</div>
              </div>
            </div>
          </div>
          <div>
            <div class="card text-white text-center bg-info">
              <div>
                <button type="button" class="btn btn-transparent p-0 float-right">
                  <i class="icon-location-pin"></i>
                </button>
                <div class="text-value">1200</div>
                <div>Enrolled Students</div>
              </div>
            </div>
          </div>
          <div>
            <div class="card text-white text-center bg-info">
              <div>
                <button type="button" class="btn btn-transparent p-0 float-right">
                  <i class="icon-location-pin"></i>
                </button>
                <div class="text-value">1200</div>
                <div>Enrolled Students</div>
              </div>
            </div>
          </div>
          <div>
            <div class="card text-white text-center bg-info">
              <div>
                <button type="button" class="btn btn-transparent p-0 float-right">
                  <i class="icon-location-pin"></i>
                </button>
                <div class="text-value">1200</div>
                <div>Enrolled Students</div>
              </div>
            </div>
          </div>
          <div>
            <div class="card text-white text-center bg-info">
              <div>
                <button type="button" class="btn btn-transparent p-0 float-right">
                  <i class="icon-location-pin"></i>
                </button>
                <div class="text-value">1200</div>
                <div>Enrolled Students</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding:0;">
      <app-admissions-upcoming-events> </app-admissions-upcoming-events>
    </div>
  </div>
</div>