<div class="animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Applicants
      </div>
      <table sortable-table (sorted)="onSorted($event)" class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Avatar</th>
            <th sortable-column="lastName">
              Applicant
            </th>
            <th sortable-column="calcDate">
              <i class="far fa-calendar-alt"></i>
            </th>
            <th sortable-column="email">Email</th>
            <th sortable-column="temperature">Phone</th>
            <th sortable-column="address">Address</th>
            <th sortable-column="status">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let applicant of applicants | filter : ['firstName', 'lastName'] : searchString : []; let i = index">
            <td class="text-center">
              <i class="icon-user"></i>
            </td>
            <td colspan="2">
              <div>{{applicant.firstName}} {{applicant.lastName}}</div>
              <div class="small text-muted">
                Registered: {{applicant.lastContact}}
              </div>
            </td>

            <td>{{applicant.email}}</td>
            <td>{{applicant.phone | phone }}</td>
            <td>{{applicant.address.street}} {{ applicant.address.city}} {{applicant.address.state}} {{applicant.address.zipCode}} </td>
            <td>{{applicant.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
