.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    border-color: red;
}

.ng-dirty.ng-valid, .ng-touched.ng-valid {
    border-color: green; 
}

::ng-deep .false {
    display: none !important;
}

::ng-deep .true {
    color: #813838;
    background-color: #fee2e1;
    border-color: #fdd6d6;
}

::ng-deep .true .arrow:after {
    border-top-color: #fee2e1;
}