<div class="card">
  <div class="card-header">
    <h1>Upcoming Events</h1>
    <div class="card-body ">
      <div class="card" *ngFor="let event of events">
        <div class="card-body" >
            <p><b> Day of Event:</b> {{event.attributes.start_time | date}}</p>

          <p><b> Time of Event:</b> {{event.attributes.start_time | date:'shortTime'}} - {{event.attributes.end_time | date:'shortTime'}}</p>
          <h6></h6>
          <p><b> With:</b> {{ event.relationships.invitee.data.attributes.name }}</p>
          <p><b> Email:</b> {{ event.relationships.invitee.data.attributes.email }}</p>

        </div>
      </div>
    </div>
  </div>
</div>